<nav class="bg-white fixed w-full top-0 left-0">
   <div class="max-w-screen-xl flex justify-center mx-auto p-4">
      <%= link_to image_tag('maxiambiental-logo.svg', alt: 'Logo', class: 'h-24'), root_path %>
   </div>
</nav>
