<%- if controller_name != 'sessions' %>
  <div class="text-center mt-10">
    <div class="text-gray-500">
      Lembrou a sua senha?
      <%= link_to "Entre", new_session_path(resource_name), class: "font-bold text-green-700 hover:underline" %>
    </div>
  <div class="text-gray-500">
      Não tem uma conta?
      <%= link_to "Cadastre-se", new_registration_path(resource_name), class: "font-bold text-green-700 hover:underline" %><br />
    </div>
  </div>
<% end %>
