<div class="flex flex-col items-center justify-center md:h-screen mx-auto px-6 py-44 lg:py-24 md:py-24">
    <div class="w-full bg-white rounded shadow-lg md:mt-0 sm:max-w-md xl:p-0 mb-4 max-w-lg">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">  
            <h1 class="text-xl p-4 font-bold md:text-2xl text-green-700 text-center">
                <%= @head_title %>
            </h1>
            <%= content %>
        </div>
    </div>  <!-- box -->
</div>  <!-- container -->