<div class="relative w-full bg-gradient-to-r overflow-hidden h-fit">
   <div class="px-8 py-16 bg-green-700 w-full md:px-24 lg:px-8 lg:py-16">
      <div class="grid row-gap-8 sm:grid-cols-3">
         <div class="text-center">
            <h6 class="text-3xl font-bold text-white">+15</h6>
            <p class="text-sm max-w-[200px] text-white text-center mx-auto">
               Estados brasileiros já receberam treinamentos
            </p>
         </div>
         <div class="text-center">
            <h6 class="text-3xl font-bold text-white">+150</h6>
            <p class="text-sm max-w-[250px] text-white text-center mx-auto">
               Turmas de cursos na área ambiental já foram capacitadas
            </p>
         </div>
         <div class="text-center">
            <h6 class="text-3xl font-bold text-white">+8K</h6>
            <p class="text-sm max-w-[200px] text-white text-center mx-auto">
               Profissionais capacitados na modalidade presencial
            </p>
         </div>
      </div>
   </div>

   <div class="px-8 py-16 w-full h-fit">
      <div class="grid md:grid-cols-2 gap-6 md:items-center items-center">
         <div class="m-auto">
            <%= image_tag 'maps.png', alt: "cover-image" %>
         </div>

         <div class="text-center space-y-4">
            <h1 class="text-3xl font-bold text-green-700">
               Atuação em todo Brasil
            </h1>
            <p class="text-sm max-w-[500px] text-green-700 text-center mx-auto">
               Contribuindo para a formação de especialistas
               comprometidos com a sustentabilidade e a gestão ambiental eficiente
               em diferentes regiões do Brasil​
            </p>
         </div>
      </div>
   </div>

</div>
