<div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200">
   <ul class="flex flex-wrap -mb-px">
      <li class="me-2">
         <%= link_to 'Informações de usuário', admin_edit_profile_path,
                                               data: { "turbo-preserve-scroll" => true },
                                               class: "inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 
                                                      #{'text-green-600 border-green-600 hover:text-green-600 hover:border-green-300' if current_page?(admin_edit_profile_path)}" %>
      </li>
      <li class="me-2">
         <%= link_to 'Informações de senha', admin_edit_password_path,
                                             data: { "turbo-preserve-scroll" => true }, 
                                             class: "inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 
                                                    #{'text-green-600 border-green-600 hover:text-green-600 hover:border-green-300' if current_page?(admin_edit_password_path)}" %>
      </li>
   </ul>
</div>
