<div data-controller="alert">
  <div data-alert-target="alert" class="<%= background_class %> <%= border_class %> <%= text_class %> border-l-4 p-4 relative" role="alert">
    <p><%= @message %></p>
    <button type="button" data-action="click->alert#close" class="alert-close absolute top-0 bottom-0 right-0 px-4 py-3">
      <svg class="fill-current h-6 w-6 text-gray-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <title>Close</title>
        <path d="M14.348 5.652a1 1 0 00-1.414 0L10 8.586 7.066 5.652a1 1 0 00-1.414 1.414l2.932 2.932-2.932 2.932a1 1 0 001.414 1.414L10 11.414l2.932 2.932a1 1 0 001.414-1.414L11.414 10l2.932-2.932a1 1 0 000-1.414z"/>
      </svg>
    </button>
  </div>
</div>
