<div class="text-sm font-medium text-center text-gray-500 overflow-x-auto whitespace-nowrap scrollbar-hide">
   <ul class="flex px-4" id="tabs">
      <% @tabs.each do |tab| %>
         <li class="flex-shrink-0 me-2" id="tab-<%= tab[:name] %>">
            <%= active_link_to tab[:name], tab[:path], 
                  class: "tab px-4 py-2 inline-block rounded-t-lg", 
                  class_active: "text-white bg-green-700 hover:bg-green-800",
                  active: tab.fetch(:active, :exclusive),
                  data: { "turbo-preserve-scroll" => true } %>
         </li>
      <% end %>
   </ul>
</div>