<% flash.each do |type, message| %>
   <div data-controller="alert" class="fixed top-32 right-6 z-50">
      <div data-alert-target="alert" role="alert" class="relative flex w-full p-4 text-sm rounded border-l-4 <%= tailwind_class_for(type) %>">
         <p class="mr-8"><%= message.html_safe %></p>
         <button class="flex items-center justify-center absolute w-8 h-8 top-3 right-1.5" type="button" data-action="click->alert#close">
            <%= icon('fa-solid', 'xmark', class: "w-5 h-5") %>
         </button>
      </div>
   </div>
<% end %>
