<section class="sm:flex items-center max-w-screen-xl h-screen">
   <div class="sm:w-1/2 p-10">
      <div class="image flex justify-center">
         <%= render_rich_text_image(@institutional.content, 0, "rounded-xl object-cover") %>
      </div>
   </div>
   <div class="sm:w-1/2 p-5">
      <div class="text">
         <span class="text-gray-700 border-b-2 border-green-700 uppercase">Sobre Nós</span>
         <h2 class="my-4 font-bold text-3xl  sm:text-4xl "><%= @institutional.title %></h2>
         <p><%= @institutional.content.to_s %></p>
      </div>
   </div>
</section>