<tr class="hover:bg-green">

   <td id="client-<%= client.id %>" class="px-6 py-4 text-sm text-gray-800">

      <div class="flex items-center">
         <%= image_tag client.avatar_url, class: "h-8 w-8 rounded-full object-cover"%>
         <div class="ml-4">
            <h2 class="font-semibold"><%= client.name %></h2>
            <p class="text-sm text-gray-600"><%= client.email %></p>
         </div>
      </div>

   </td>

</tr>