<p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
   Não tem uma conta?
   <%= link_to 'Cadastre-se', client_registration_path, class: "text-green-700 decoration-2 hover:underline font-medium" %>
</p>