<nav class="fixed w-full bg-white h-20 border-gray-200 dark:bg-gray-900" data-controller="dropdown" data-action="click@window->dropdown#close">
  <div class="flex flex-wrap items-center justify-between px-8 py-4">
    <%= link_to image_tag('maxiambiental-logo.svg', alt: 'Logo', class: 'h-14'), root_path %>

    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" data-action="click->dropdown#toggle">
            <span class="sr-only">Open user menu</span>
            <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="user photo">
        </button>

        <!-- Dropdown menu -->

        <div data-dropdown-target="menu" class="absolute right-8 top-14 z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
            <div class="px-4 py-3">
                <span class="block text-sm text-gray-900 dark:text-white"><%= @current_admin.name %></span>
                <span class="block text-sm  text-gray-500 truncate dark:text-gray-400"><%= @current_admin.email %></span>
            </div>
            <ul class="py-2" aria-labelledby="user-menu-button">
                <li>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 dark:hover:bg-gray-600 dark:text-gray-200">Dashboard</a>
                </li>
                <li>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 dark:hover:bg-gray-600 dark:text-gray-200">Settings</a>
                </li>
                <li>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 dark:hover:bg-gray-600 dark:text-gray-200">Earnings</a>
                </li>
                <li>
                    <%= link_to "Sign out", destroy_admin_session_path, data: { turbo_method: :delete } , class: "block px-4 py-2 text-sm text-gray-700 dark:hover:bg-gray-600 dark:text-gray-200" %>
                </li>
            </ul>
        </div>
    </div>
  </div>
</nav>