<nav class="fixed top-0 left-0 w-full z-50 bg-white h-20 shadow-md" data-controller="dropdown" data-action="click@window->dropdown#close">
   <div class="flex flex-wrap items-center justify-between px-8 py-6 sm:py-4">

      <%= render(SidebarToggleButton::SidebarToggleButtonComponent.new) %>

      <%= link_to image_tag('maxiambiental-logo.svg', alt: 'Logo', class: "h-14 hidden sm:block"), admin_root_path %>

      <%= render(AvatarDropdown::AvatarDropdownComponent.new user: helpers.current_admin) %>

   </div>
</nav>