<div class="text-center">
   <%= button_to "#", method: :post, data: { turbo: "false" }, 
                      class: 'w-full text-black py-2 px-4 rounded-md bg-transparent border cursor-pointer' do %>

      <%= image_tag "google-logo.svg", class: "inline-block h-5 w-5 mr-2" %>
      <%= t('buttons.continue_with_google')%>

   <% end %>
</div>