<%= link_to url,
  class: "py-4 px-8 transition-all duration-300 ease-in rounded-md border-transparent hover:bg-stone-800/5 #{'opacity-50 cursor-not-allowed pointer-events-none' if current_page.last?}" do %>

   <span class="inline-flex items-center justify-center select-none font-sans font-medium text-center text-sm rounded-md text-green-700">
      Próximo
      <%= icon('fa-solid', 'angle-right', class: 'ml-2') %>
   </span>
<% end %>