<div class="text-center">
    <%= link_to "Esqueceu a senha?", "#", class: "text-sm font-light align-bottom text-black mb-1" %>
    <p class="text-sm font-light dark:text-gray-500">
        Não tem uma conta? <%= link_to "Cadastre-se", new_user_registration_path, class: "font-medium text-green-700 hover:underline" %>
    </p>
</div>