<nav class="bg-white">
  <div class="container mx-auto px-2">
    <div class="flex justify-center py-1">
      <%= link_to image_tag('maxiambiental-logo.svg', alt: 'Logo', class: 'h-15 w-auto'), root_path %>
    </div>
  </div>
</nav>