<nav class="fixed top-0 left-0 w-full z-50 bg-white h-20 shadow-md" data-controller="dropdown" data-action="click@window->dropdown#close">
   <div class="flex flex-wrap items-center justify-between px-8 py-6 sm:py-4">

      <button data-action="click->sidebar#toggle" type="button" class="absolute inline-flex items-center ms-3 text-sm text-green-500 sm:hidden dark:text-green-400">
         <span class="sr-only">Open sidebar</span>
         <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
         </svg>
      </button>

      <%= link_to image_tag('maxiambiental-logo.svg', alt: 'Logo', class: "h-14 hidden sm:block"), admin_root_path %>

      <%= render 'layouts/admin/partials/dropdown', user: current_admin %>

   </div>
</nav>