<nav 
   class="fixed top-0 left-0 z-50 w-full h-20 bg-white shadow-md" 
   data-controller="dropdown" 
   data-action="click@window->dropdown#close"
   >
   <div class="flex items-center justify-between px-8 py-6 sm:py-4">

      <button 
         data-action="click->sidebar#toggle" 
         type="button" 
         class="absolute inline-flex items-center text-green-500 ms-3 lg:hidden"
         >
         <span class="sr-only">Open sidebar</span>
         <%= icon('fa-solid', 'bars', class: "fa-lg") %>
      </button>

      <%= link_to image_tag('maxiambiental-logo.svg', alt: 'Logo', class: "h-14 hidden lg:block"), admin_root_path %>

      <!-- User dropdown -->
      <%= render 'layouts/admin/partials/dropdown', user: current_admin %>
   </div>
</nav>
