<aside 
   data-sidebar-target="sidebar" 
   class="fixed top-0 left-0 z-40 w-64 h-screen pt-0 bg-white transition-transform -translate-x-full lg:translate-x-0 sm:pt-20"
>
   <div class="h-full px-3 py-4 overflow-y-auto shadow-md">

      <%= link_to image_tag('maxiambiental-logo.svg', alt: 'Logo', class: "h-14 mb-4 block md:hidden"), admin_root_path %>

      <!-- Links de navegação -->
      <ul class="space-y-2 font-medium">
         <% links = [
            { text: 'Dashboard', icon: 'chart-line', url: admin_root_path, active: :exclusive },
            { text: t('links.courses'), icon: 'graduation-cap', url: admin_courses_path },
            { text: t('links.classes'), icon: 'school', url: "#", active: false },
            { text: t('links.instructors'), icon: 'user-tie', url: admin_instructors_path },
            { text: t('links.students'), icon: 'user-graduate', url: "#", active: false },
            { text: t('links.messages'), icon: 'message', url: "#", active: false },
            { text: t('links.settings'), icon: 'gear', url: "#", active: false }
         ] %>

         <% links.each do |link| %>
            <li>
               <%= active_link_to link[:url], 
                                  class: "flex items-center p-2 rounded-lg text-green-700 hover:bg-green-500 hover:text-white group",
                                  class_active: "bg-green-700 text-white font-semibold hover:bg-green-500",
                                  active: link.fetch(:active, :inclusive) do %>

                  <%= icon('fa-solid', link[:icon], class: "w-5 h-5 transition duration-75") %>
                  <span class="ms-3"><%= link[:text] %></span>
               <% end %>
            </li>
         <% end %>

      </ul>
   </div>
</aside>
