<div class="container mx-auto md:px-10">
   <%= rc 'page/content_title', title: t('.title'), description: t('.description') %>

   <% attributes = [ 
    { text: CourseClass.model_name.human, class: 'text-center' },
    { text: CourseClass.human_attribute_name(:period), class: 'text-center' },
    { text: Enrollment.model_name.human, class: 'text-center' },
    { text: Enrollment.human_attribute_name(:status), class: 'text-center' },
    { text: Payment.model_name.human, class: 'text-center' }
   ] %>

   <%= rc 'flash/message' %>

   <%= rc 'search/form', base_url: clients_enrollments_path %>

   <%= rc 'data/table', attributes: attributes, 
                        collection: @enrollments, 
                        partial: 'clients/course_classes/enrollments/partials/enrollment' %>
</div>