<% provide(:title, t("profile.my_profile")) %>

<%= render 'clients/profile/partials/section' do %>
   <div class="flex justify-center mt-10 text-wrap text-center">
      <h1 class="text-gray-500"> <%= current_client.bio %> </h1>
   </div>
<% end %>