<div class="container mx-auto px-4 py-10">
   <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
      <%= render partial: 'courses/partials/card',
                       collection: @courses, as: :course %>
   </div>
</div>
