<div class="lg:mx-8 grid grid-cols-1 gap-4 m-auto p-4 lg:grid-cols-2 lg:p-4">

   <div class="w-full pb-8 mt-8 rounded-lg space-y-4 md:space-y-6">

      <%= render 'admin/profile/partials/form_image' %>

   </div>

   <div class="w-full pb-8 mt-8 rounded-lg space-y-4 md:space-y-6">

      <%= render 'admin/profile/partials/form_admin_info' %>

   </div>
</div>