<div class="text-center">
   <%= button_to "/auth/google_oauth2", method: :post,
                                        class: "w-full text-black py-2 px-4 rounded-md border focus:outline-hidden focus:shadow-outline inline-flex items-center justify-center bg-transparent" do %>

      <%= image_tag "google-logo.svg", class: "inline-block h-5 w-5 mr-2" %>
      Continuar com o Google
   <% end %>
</div>
