<img src="https://www.mailjet.com/wp-content/uploads/2019/07/Welcome-02.png" alt="Imagem de boas-vindas" width="300">

<h1>Esqueceu a sua senha?</h1>
<p>Não se preocupe, vamos criar uma nova.</p>

<a href="<%= edit_password_url(@resource, reset_password_token: @token) %>" class="button">Redefinir Senha</a>