<%= image_tag 'https://www.mailjet.com/wp-content/uploads/2019/07/Welcome-02.png', alt: "Welcome image", width: "300" %>

<h1><%= t('devise.sessions.forgot_password') %></h1>
<p><%= t('reset_password.message') %></p>

<%= link_to t('authentication.reset_password.title'), edit_password_url(@resource, reset_password_token: @token), class: "button" %>