<%= image_tag 'welcome_reset_password_instructions.png', alt: "Welcome image", width: "300" %>

<h1>
   <%= t('devise.sessions.reset_password.title') %>
</h1>

<p>
   <%= t('devise.sessions.reset_password.message') %>
</p>

<%= link_to t('devise.sessions.reset_password.title'),
            edit_password_url(@resource, reset_password_token: @token),
            class: "button" %>