<div class="fixed top-24 w-full bg-gradient-to-r h-screen text-white overflow-hidden">

   <div class="absolute inset-0">
      <%= image_tag 'hero_section.png', alt: 'Background Image', class: "object-cover object-center w-full h-full" %>
      <div class="absolute inset-0 bg-black opacity-50"></div>
   </div>

   <div class="relative z-0 flex flex-col justify-center lg:items-start h-full text-left lg:p-16">
      <h1 class="text-5xl font-bold leading-tight mb-4">Maxiambiental Treinamentos</h1>
      <h2 class="text-3xl w-96 text-gray-300 font-semibold mb-8">Transformando Conhecimento Ambiental em Ação</h2>
      <%= link_to 'Saiba mais', "#", class: "bg-green-700 text-white hover:bg-green-300 py-2 px-6 rounded-md text-md" %>
   </div>

</div>