<p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
   <%= t("common.messages.remember_password") %>
   <%= link_to t("common.links.sign_in_here"), new_admin_session_path, class: "text-green-700 decoration-2 hover:underline font-medium" %>
</p>