<p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
   <%= t("devise.sessions.remember_your_password") %>
   <%= link_to t("devise.sessions..sign_in"), new_admin_session_path, class: "text-green-700 decoration-2 hover:underline font-medium" %>
</p>